/* //make :hover pseudo class */

body {
  background-image: url('https://images.unsplash.com/photo-1608178398319-48f814d0750c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=879&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: fill;
  object-position: center;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-family: 'Tilt Prism', cursive;
  text-shadow: 10px 10px 5px rgb(212, 212, 148);
  font-size: 70px;
}

.text-boxes {
  /* From https://css.glass */
  background: rgba(231, 234, 115, 0.82);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(231, 234, 115, 0.3);

}

.center-image {
  border-radius: 50%;
  height: 50vh;
}

.moon-pic {
  border-radius: 50%;
  position: relative;
  height: 51vh;
  box-shadow: 10px 10px 5px rgb(212, 212, 148);
}

.moon-pic:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}